/* 
! Общие стили для всего проекта
*/

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 400;
}

.section-title {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
  color: #000000;
}


img {
  max-width: 100%;
}

/* 
!============================================ 
*/
/* 
! CSS Код написанный Владимиром 
*/

.reviews{
  margin: auto;
  width: 1440px;
  height: 100px;
  background-color: #EFEFEF;
}

footer {
  margin: auto;
  width: 1440px;
}

.start {
  width: 100%;
  height: 780px;
  background-color: #9DC9C8;
}

.footer {
  width: 100%;
  height: 390px;
  background-color: #000;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  /* 
  * стили сработают для вывода на экран шириной от 992 до 1279 пикселей 
  */
  .reviews {
    margin: auto;
    width: 834px;
    height: 451.75px;
    background-color: #EFEFEF;
  }
  .reviews-h2{
    width: 571.64px;
    height: 53.86px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32.44px;
    padding-top: 51.7px;
    margin-left: 70.66px;
  }
  .reviews-card {
    width: 458.12px;
    /* height: 261.2px; */
    border-radius: 17.38px;
    background-color: #fff;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    margin-left: 73px;
    padding: 23.17px 0;
  }
  .reviews-text{
    width: 405.42px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    font-family: Roboto;
    margin-left: 26.06px;
  }
  .reviews-photo {
    width: 110px;
    height: 98px;
    display: inline-block;
    background-image: url("../images/19.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }

  .reviews-h3 {
    width: 204.45px;
    height: 34.17px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #000;
    display: inline-block;
    position: absolute;
    margin: 20px 0 0 7px;
  }

  .reviews-social {
    width: 18.53px;
    height: 18px;
    background-image: url("../images/fb_2.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: absolute;
    margin: 50px 0 0 7px;
  }

  footer {
    margin: auto;
    width: 834px;
    height: 225.88px;
    background-color: #000;
  }

  .start {
    width: 100%;
    height: 451.75px;
    background-color: #9DC9C8;
  }
  .start-h2 {
    width: 525.88px;
    height: 38.23px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32.44px;
    margin-top: 0;
    margin-left: 71px;
    padding-top: 103.67px;
    color: #000;
  }
  .start-price {
    width: 98.46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: black;
    margin: 0 0 0 71px;
  }
  .start-price__number {
    width: 278.58px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 47px;
    margin: 0 0 0 71px;
  }
  .start-list {
    display: flex;
    list-style: none;
    padding-left: 71px;
  }
  .start-list li:first-child {
    margin-right: 40px;
  }
  .start-list__big {
    width: 170.28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: black;
  }
  .start-list__small {
    width: 138px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10.14px;
    color: black;
  }

  .footer {
    width: 100%;
    height: 225.88px;
    background-color: #000;
  }
  .footer-social {
    padding-top: 29px;
    display: inline-block;
  }

  .footer-social__logo {
    width: 67px;
    height: 40px;
    background-image: url(../images/logo_mobile_white.png);
    border: 0.47px solid black;
    box-sizing: border-box;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
    margin-left: 71px;
    color: #fff;
  }

  .footer-social__list {
    display: flex;
    margin-top: 12px;
    margin-left: 41px;
  }
  .footer-social__insta{
    width: 19.11px;
    height: 19.11px;
    background-image: url("../images/insta.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .footer-social__facebook{
    width: 18.53px;
    height: 18.53px;
    background-image: url("../images/fb.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }
  .footer-social__vk{
    width: 20.27px;
    height: 20.27px;
    background-image: url("../images/vk.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }
  .footer-social__viber{
    width: 19.69px;
    height: 19.69px;
    background-image: url("../images/viber.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }

  .footer-contacts{
    color: white;
    margin-top: 25px;
    margin-right: 90px;
    display: inline-block;
    float: right;    /* ! Ошибка надо разобраться почему! */
  }

  .footer-contacts__number {
    width: 156px;
    height: 23.17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .footer-contacts__number img {
    margin-right: 5px;
  }
  .footer-contacts__mail {
    width: 156px;
    height: 23.17px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-left: 10px;
  }
  .footer-contacts__mail img {
    margin-right: 5px;
  }

  .footer-sinxron {
    color: white;
    width: 134px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10.14px;
    margin-left: 71px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  /* 
  *стили сработают для вывода на экран шириной от 320 до 991 пикселей 
  */
  .reviews {
    margin: auto;
    width: 375px;
    height: 423px;
    background-color: #EFEFEF;
  }

  .reviews-h2 {
    width: 257px;
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 26.36px;
    padding: 35px 0 25px 30px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .reviews-card {
    width: 308px;
    border-radius: 13.98px;
    background-color: #fff;
    box-shadow: 0.47px 0.47px 9.32px rgba(0, 0, 0.25);
    margin: auto;
    padding: 18px 0;
  }
  .reviews-text{
    width: 266px;
    height: 111px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    font-family: Roboto;
    margin: auto;
  }

  .reviews-photo {
    width: 80px;
    height: 84px;
    display: inline-block;
    margin-left: 21px;
    margin-top: 13px;
    background-image: url("../images/19.png");
  }

  .reviews-h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14.19px;
    display: inline-block;
    position: absolute;
    margin: 30px 0 0 10px;
  }

  .reviews-social {
    width: 15px;
    height: 17.2px;
    background-image: url("../images/fb_2.png");
    display: inline-block;
    position: absolute;
    margin: 60px 0 0 10px;
  }

  /* *-------------  FOOTER  --------------*/

  footer {
    margin: auto;
    width: 375px;
  }

  .start {
    width: 100%;
    height: 363px;
    background-color: #9DC9C8;
  }

  .start-h2 {
    width: 224px;
    height: 63px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26.36px;
    margin-top: 0;
    margin-left: 35px;
    padding-top: 62px;
  }

  .start-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: black;
    margin: 0 0 0 35px;
  }
  .start-price__number {
    width: 224.13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 37.51px;
    margin: 0 0 0 35px;
  }

  .start-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 25px;
  }

  .start-list__big {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.17px;
    color: black;
  }
  .start-list__small {
    width: 138px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10.14px;
    color: black;
  }

  .footer {
    width: 100%;
    height: 251px;
    background-color: #000;
  }

  .footer-social {
    padding-top: 23px;
  }

  .footer-social__logo {
    width: 60px;
    height: 31.69px;
    background-image: url(../images/logo_mobile_white.png);
    border: 0.47px solid black;
    box-sizing: border-box;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
    margin-left: 34px;
  }

  .footer-social__list {
    display: flex;
    margin-top: 12px;
  }
  .footer-social__insta{
    width: 16px;
    height: 16px;
    background-image: url("../images/insta.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .footer-social__facebook{
    width: 14.91px;
    height: 14.91px;
    background-image: url("../images/fb.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }
  .footer-social__vk{
    width: 16.31px;
    height: 16.31px;
    background-image: url("../images/vk.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }
  .footer-social__viber{
    width: 15.84px;
    height: 15.84px;
    background-image: url("../images/viber.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
  }

  .footer-contacts{
    color: white;
    margin-top: 45px;
    margin-left: 35px;
  }

  .footer-contacts__number {
    width: 140px;
    height: 18.64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.17px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .footer-contacts__number img {
    margin-right: 5px;
  }
  .footer-contacts__mail {
    width: 140px;
    height: 18.64px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.17px;
    margin-left: 10px;
  }
  .footer-contacts__mail img {
    margin-right: 5px;
  }

  .footer-sinxron {
    color: white;
    width: 141px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10.14px;
    margin-left: 35px;
    margin-top: 50px;
  }
}
.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 20px;
}


/* 
    ! Код написанный Александром  
*/

.header {
  padding: 24px 0px 156.75px 0px;
}

.header__container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 246px 0px 122px;
}

.header__logo {
  margin: 0px 0px 64px 0px;
}

.header__body {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0px 0px 65px 0px;

}

.header__body--offer {
  margin: 30px 0px 0px 0px;
}

.offer__list {
  display: flex;
  width: 100%;
  margin: 0px 0px 22px 0px;
}

.offer__list > li {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  padding: 3px 0px 0px 30px;
  margin: 0px 42px 0px 0px;
}

.offer__list--item1 {
  background: url(../images/globe.svg) left top  no-repeat;
}
.offer__list--item2 {
  background: url(../images/clock.svg) left top no-repeat;
}
.offer__list--item3 {
  background: url(../images/calendar.svg) left top no-repeat;
}

.offer__title {
  font-family: Roboto Slab;
  font-weight: 700;
  /* font-size: 80px; */
  font-size: clamp(37px, 5vw, 80px);
  line-height: 112.38%;
  margin: 0px 0px 34px 0px;
  width: 628px;
  letter-spacing: 4.9px;
}

.offer__subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  width: 414px;
  /* margin: 0px 0px 161px 0px; */
}

.header__quote {
  width: 425px;
  background: #1E4681;
  border-radius: 5px;
  transform: rotate(-4deg);
  margin: 0px 0px 0px 290px;
  padding: 21px 29px;
}

.header__quote--text {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0px 0px 7px 0px;
}

.header__quote--author {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
  color: #fff
}

.header__body--img {
  margin: 88px 0px 0px 0px;
}

.header__body--img >img {
  object-fit: contain;
}


/* 
! CSS  code от Максима 
*/

.item-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  }
  .course-program__title {
  justify-content: space-between;
  display: flex;
  }
  /* 
  !===========================================================
  */

  /* 
  ! Здесь пишем все медиа запросы 
  */

  @media (max-width:1279px) and (min-width:992px)   {
    .header__container {
      max-width: 834px;
      padding: 0px 48px;
    }

    .header__logo {
      width: 64.87px;
    }
    .header__body {
      margin: 0px 0px 41px 0px;
      padding: 0px 0px 0px 20px;
      align-items: flex-start;
    }

    .offer__list > li {
      font-size: 12px;
    }

    .offer__list--item1 {
      background: url(../images/globe.svg) left top/ 13px 13px no-repeat;
    }
    .offer__list--item2 {
      background: url(../images/clock.svg) left top/13px 13px no-repeat;
    }
    .offer__list--item3 {
      background: url(../images/calendar.svg) left top/12px 13px no-repeat;
    }

    .offer__subtitle {
      font-size: 12px;
    }
    .header__body--img {
      width: 176px;
      height: 206px;
      margin: 20px 0px 0px 0px;
    }

    .header__quote {
      width: 287px;
      margin: 0px 0px 0px 233px;
    }

    .header__quote--text {
      font-size: 14px;
    }

    .header__quote--author {
      font-size: 12px;
    }
  }

  @media (max-width:991px){
    .container {
      width: 375px;
      padding: 0px 35px;
    }

    .header__logo {
      width: 53px;
      margin: 0px 0px 44px 0px;
    }

    .header__body {
      flex-direction: column;
    }

    .header__body--offer {
      width: 100%;
    }
    .header__body--img {
      width: 142px;
    }
    .offer__list--item1 {
      background: url(../images/globe.svg) left top/ 11px 11px no-repeat;
    }
    .offer__list--item2 {
      background: url(../images/clock.svg) left top/11px 11px no-repeat;
    }
    .offer__list--item3 {
      background: url(../images/calendar.svg) left top/10px 11px no-repeat;
    }

    .offer__list > li {
      font-size: 10px;
      margin: 0px 15px 0px 0px;
      padding: 0px 0px 0px 15px;
    }

    .offer__title {
      margin: 0px 0px 20px 0px;
    }

    .offer__subtitle {
      font-size: 10px;
      width: 212px;
    }
  }


  /* 
    !===================================================
  */

  

