
body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  padding-top: 23px;
}

.header__body {
  padding-right: 232px;
  padding-left: 121px;
}

.header__container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.header__logo {
  margin-bottom: 93px;
}

.header__offer.offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 81px;
  justify-content: space-between;
}

.offer__info {
  width: 509px;
}

.offer__info.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

.item__img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.item__img--last {
  margin-right: 0px;
}

.item__img--last > img {
  margin-right: 18px;
}

.item__text {
  display: block;
  margin-top: 1px;
  font-size: 18px;
  line-height: 130%;
}

.image {
  display: block;
  margin-right: 10px;
}

.header__offer--title {
  margin-top: 0px;
  margin-bottom: 35px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 101.38%;
}

.header__offer--subtitle {
  font-size: 20px;
  line-height: 150%;
}

.header__offer--img {
  margin-top: 37px;
}

.header__offer--img > img {
  width: 317px;
  height: 356px;
}

.header__quote {
  width: 455px;
  margin-left: 288px;
  padding: 22px 2px 21px 27px;
  border-radius: 5px;
  background-color: #1e4681;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.header__quote--text {
  margin-bottom: 4px;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 130%;
}

.header__quote--author {
  color: #fff;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
  margin-right: 19px;
}

.about {
  padding-top: 173px;
  padding-bottom: 156px;
}

.container {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.section__title {
  margin-bottom: 55px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 55px;
  line-height: 101%;
  font-weight: 700;
}

.section__title.title-format {
  margin-bottom: 127px;
}


.section__title.course-author__title {
  margin-bottom: 92px;
  padding-right: 0px;
  padding-left: 0px;
}

.about__body {
  padding-right: 131px;
  padding-left: 122px;
}

.class-format {
  padding-bottom: 154px;
}

.div-block.image-2 {
  background-color: #302dda;
}

.about__course {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.about__curs--text {
  width: 70%;
}

.about__course--descr {
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 154%;
  max-width: 672px;
}

.about__curs--text .about__course--descr:last-child {
  margin-bottom: 70px;
}

.about__course--img {
  width: 30%;
  max-width: 366px;
  margin-top: 25px;
}

.about__course--img  > img {
  width: 366px;
  height: 344px;
}

.about__cours--schedule {
  width: 100%;
}

.about__cours--schedule.schedule {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: distribute;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* .schedule__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
} */

.schedule__item.img {
  width: 25%;
  margin-right: 67px;
}

.schedule__item.left {
  margin-right: 106px;
}

.schedule__item.center {
  margin-right: 98px;
}

.item__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 173%;
}

.item__wrap--text {
  display: block;
}

.class__format--block.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
}

.block__item {
  width: 280px;
}

.block__item.left {
  margin-right: 67px;
}

.block__item.center {
  margin-right: 104px;
}

.block__item--title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #1e4681;
  font-size: 25px;
  font-weight: 700;
  line-height: 130%;
}

.block__item--text {
  font-size: 18px;
  line-height: 130%;
}

.class-format--body {
  padding-left: 121px;
}

.what-learn--body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 204px;
  padding-left: 121px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.what-learn--text {
  width: 50%;
}

.section__title.what-learn__title {
  margin-bottom: 59px;
}

.what-learn__img {
  width: 37%;
}

.what-learn--text-copy {
  width: 50%;
}

.what-learn__text {
  width: 63%;
  padding-top: 63px;
}

.what-learn__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 204px;
  padding-left: 121px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.what-learn__img--top {
  margin-bottom: 162px;
}
.what-learn__img--top > img {
  margin-left: 39px;
}

.what-learn__img--botton > img {
  margin-left: 26px;
}


.what-learn__text--list {
  padding-left: 16px;
}

.what-learn__text--item {
  font-size: 24px;
  line-height: 150%;
}

.course-program {
  padding-top: 228px;
}

.course-programm__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 131px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 0px 0px 121px;
}

.couse-programm-title {
  margin: 0px;
}

.section-line {
  width: 630px;
  height: 14px;
  background-color: #000;
}

.cours-programm__body {
  padding-right: 85px;
  padding-left: 85px;
}

.cours-programm__body--wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -18.5px;
  margin-left: -18.5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cours-programm__item {
  overflow: visible;
  margin-bottom: 60px;
  padding-right: 18.5px;
  padding-left: 18.5px;
  border-radius: 30px;
  transition: 0.3s;
}


.cours-programm__item:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.item__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 398px;
  height: 100%;
  padding-bottom: 19px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.25);
}

.item__body--icon {
  height: 160px;
  background-image: url("../images/5f9c6e005f136584a902cfcf_course-programm6.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.item__body--icon._2 {
  background-image: url("../images/5f9c6e00669a3830d4314c8c_course-programm2.jpg");
}

.item__body--icon._3 {
  background-image: url("../images/5f9c6e00fc2fdd55e69ee40d_cours-progrsmm3.jpg");
}

.item__body--icon._4 {
  background-image: url("../images/5f9c6e00d920065c3f26b873_cours-programm4.jpg");
}

.item__body--icon._5 {
  background-image: url("../images/5f9c6e00104fe7577e1a3d59_course-programm5.jpg");
}

.item__body--icon._7 {
  background-image: url("../images/5f9c6e005d97a73af07b53fc_cours-programm7.jpg");
}

.item__body--icon._8 {
  background-image: url("../images/5f9c6e00a5c8aac55003ac3c_course-programm8.jpg");
}

.item__body--text {
  display: block;
  padding-top: 10px;
  padding-bottom: 23px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item__body--title {
  margin-top: 11px;
  margin-bottom: 16px;
  margin-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 130%;
}

.item__body--title.last {
  margin-bottom: -22px;  
}

.item__body--descr {
  margin-left: 18px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 25px;
  line-height: 130%;
}

.course-authors {
  padding-bottom: 244px;
}

.course-authors__body {
  position: relative;
  padding-right: 102px;
  padding-left: 121px;
  padding-top: 283px;
}

.block-info__img {
  position: absolute;
  top: -129px;
  right: 117px;
}

.image-6 {
  max-width: 100%;  
}

.course-author__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item-author {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.item-author__img {
  padding-left: 33px;
}

.item-author-2 {
  margin-top: 71px;
}

.item-author__img.item-2 {
  padding-left: 22px;
}

.item-author--title {
  margin-bottom: 10px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 30px;
  line-height: 101%;
  font-weight: 700;
}

.item-autor__subtitle {
  width: 356px;
  font-size: 18px;
  line-height: 130%;
}

.item-author__title {
  width: 300px;
  margin-top: 43px;
  margin-right: 0px;
  margin-bottom: 15px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 30px;
  line-height: 101%;
  font-weight: 700;
}

.item-author__text {
  width: 288px;
  margin-right: 4px;
}

.item-author__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  margin-top: 46px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 1px 1px 8px 1px #5784c8;
  cursor: pointer;
}



.item-author__info--i {
  font-size: 18px;
  line-height: 130%;
}

.item-author__info:hover .block-info {
  display: block;
}


.image-5 {
  margin-right: 20px;
}

.block-info {
  position: absolute;
  left: auto;
  top: auto;
  right: -1%;
  bottom: -78%;
  width: 367px;
  height: auto;
  padding: 32px 7px 34px 23px;
  border-radius: 30px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.25);
  display: none;
}

.block-info-2 {
  position: absolute;
  left: auto;
  top: -221%;
  right: 0%;
  padding: 24px 7px 9px 27px;
  bottom: auto;
  text-align: left;
}

.block-info__text {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 130%;
}

.block-info__text.last {
  margin-bottom: 0;
}

.wrap__block-info {
  position: absolute;
  left: auto;
  top: -221%;
  right: 0%;
  bottom: auto;
  text-align: right;
  display: none;
}
.wrap__block-info {
  display: block;
}


.item-author__info-2:hover .wrap__block-info {
  display: block;
}


/* !================================================================ */

@media screen and (min-width: 992px) and (max-width: 1279px) {
  
  /* *Style header ===============================================*/
  
  .header__container {
    max-width: 834px;
  }
  .header__body {
    padding: 0px 142px 0px 70px;
  }

  .header__offer.offer {
    margin: 0px 0px 30px 0px;
  }

  .header__logo {
    margin: 0px 0px 50px 0px; 
  }

  .header__logo > img {
    width: 64px;
  }

  .item__img > img {
    width: 12px;
  }

  .item__text {
    font-size: 12px;
    line-height: 115%;
  }

  .header__offer--body {
    width: 55%;
  }

  .offer__info.item {
    margin: 0px 0px 10px 0px;
  }

  .header__offer--title {
    width: 30%;
  }

  .header__offer--subtitle {
    font-size: 12px;
    line-height: 150%;
  }

  .header__offer--img {
    width: 304px;
    height: auto;
  }

  .header__offer--img > img {
    width: 176px;
    height: auto;
  }

  .header__quote {
    width: 250px;
    margin: 0px 0px 0px 160px;
    padding: 12px 16px;
  }

  .header__quote--text {
    font-size: 14px;
    line-height: 130%;
  }

  .header__quote--author {
    font-size: 12px;
    line-height: 130%;
  }

  /* *Style about =======================================*/

  .about {
    padding: 90px 0px 93px 0px;
  }

  .container {
    max-width: 834px;
  }

  .section__title {
    font-size: 32px;
    line-height: 101.38%;
  }

  .about__course--descr {
    font-size: 14px;
    line-height: 150%;
    width: 383px;
  }

  .about__body {
    padding: 0px 70px 0px 70px;
  }

  .about__title {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }

  .about__curs--text {
    width: 56%;
  }

  .about__course--img > img {
    width: 211px;
    height: auto;
  }

  .about__cours--schedule {
    margin-top: 50px;
  }

  .schedule__item > img {
    width: 134px;
    height: auto;
  }

  .item__title {
    font-size: 15px;
    line-height: 130%;
  }

  .item__text {
    font-size: 11px;
    line-height: 130%;
  }

  /* *Style class-format =========================================== */

  .class-format {
    padding-bottom: 120px;
  }
  
  .class-format--body {
    padding-left: 70px;
  }

  .section__title.title-format {
    padding: 0;
    margin: 0px 0px 70px 0px; 
  }

  .block__item--title {
    font-size: 15px;
    line-height: 130%;
  }
  .block__item--text {
    font-size: 11px;
    line-height: 130%;
  }
  /* *Style what-learn =========================================== */

  .what-learn__body {
    padding: 0px 55px 0px 70px;
  }
  
  .section__title.what-learn__title {
    padding: 0;
  }

  .what-learn__text--item {
    font-size: 14px;
    line-height: 150%;
  }

  .what-learn__img--top {
    margin-bottom: 95px;
  }

  .what-learn__img--top > img {
    width: 158px;
    height: auto;
  }

  .what-learn__img--botton > img {
    width: 233px;
    height: auto;
  }

/* *Style course-program =================================================== */

  .course-program {
    padding: 140px 0px 0px 0px;
  }

  .course-programm__title {
    margin: 0px 0px 80px 0px;
    padding: 0px 0px 0px 70px;
  }
  
  .section__title.couse-programm-title {
    padding: 0;
  }

  .section-line {
    width: 365px;
  }

  .cours-programm__body {
    padding-right: 48px;
    padding-left: 48px;
  }

  .cours-programm__body--wrap {
    margin: 0px -10.5px 0px -10.5px;
  }

  .cours-programm__item {
    padding: 0px 10.5px 0px 10.5px;
  }

  /* .cours-programm__item:hover {
    cursor: pointer;
    transform: translateY(-5px);
    hover none;
  } */
  

  .item__body {
    width: 231px;
  }

  .item__body--title {
    font-size: 17px;
    line-height: 130%;
    margin: 7px 0px 0px 11px;
  }

  .item__body--descr {
    font-size: 14px;
    line-height: 130%;
    margin: 0px 0px 0px 15px;
  }

  /* *Style course-authors ===================================================  */

  .course-authors {
    padding-top: 128px;
    padding-bottom: 244px;
  }

  .section__title.course-author__title {
    padding: 0;
  }

  .course-authors__body {
    padding: 0px 70px;
  }

  .block-info {
    display: block;
    padding: 17px 12px 10px 14px;
    width: 220px;
  }

  .item-author__title {
    font-size: 17px;
    line-height: 101.38%;
  }

  .item-autor__subtitle {
    font-size: 10px;
    line-height: 130%;
  }

  .item-author__img > img {
    width: 109px;
    height: auto;
  }

  .item-author__text {
    width: 170px;
}

  .item-author__info {
    width: 16px;
    height: 16px; 
  }

  .item-author__info--i {
    font-size: 10px;
    line-height: 130%;
  }


  .wrap__block-info > img {
    width: 150px;
  }

  .block-info__text {
    font-size: 10px;
    line-height: 130%;
  }
  
}

/* !================================================================== */

@media  (min-width: 1280px) and (max-width: 1439px){
  .cours-programm__item {
    width: 30%;
  }

  .item__body {
    width: 100%;
  }
}